@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: #092C73;
    padding: 10px 25px;
    box-shadow: 0 4px 10px rgba(18, 2, 54, 0.5);
}

.logo{
    display: flex;
    height: 30px;
}

.navegacao{
    display: flex;
    margin-left: auto;
    margin-right: 40px;
}

.navegacao a:hover {
    text-decoration: underline;
}

.navegacao a:active {
    transform: scale(0.95);
}

.navegacao a {
    margin: 10px;
    color: aliceblue;
    text-decoration: none;
    font-size: 12px;
}

.criarconta {
    background-color: #1B6C8C;
    color: aliceblue;
    padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 1.5px 1.5px 4px #0000006a; 
    margin-right: 20px;
    transition: transform 0.08s, box-shadow 0.08s;
}

.criarconta:hover {
    transform: scale(1.03);
}

.criarconta:active {
    transform: translateY(2px);
    box-shadow: inset 1.5px 1.5px 4px #0000006a;
}

#CriarConta {
    display: flex;
    flex-direction: column;
    height: 674px;
    background:
        linear-gradient(
            to right,
        #000 5%,
        #000 52%,              /* preto sólido por mais tempo */
        rgba(0,0,0,0.85) 62%,
        rgba(0,0,0,0.5) 77%,
        rgba(0,0,0,0) 90%
            ),
            url("Image/ImagemFundoSite4.png");

    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(9, 9, 9);
    padding: 0 6vw;
    justify-content: center;
}
#TextoCriarConta {
    max-width: 800px;
    width: 100%;
}
#TextoCriarConta > p  {
    margin: 0px 0px 15px 0px;
    color: aliceblue;
}

#TextoCriarConta > h1 {
    font-size: 90px;
    margin: 0px 0px;
    color: azure;
}

.DestaqueTitulo {
    color: #1F80CB;
}

#SubTitulo {
    font-size: 30px;
}

#InserirEmail {
    margin: 10px 0px 8px 0px;
    border: 2px solid #3e5956e2;
    border-radius: 8px 0px 8px 0px;
    max-width: 450px;
    width: 78%;
    height: 35px;
    background: #dcdddd35;
    color: aliceblue;
    padding: 0px 10px;
}

#BotaoCriar {
    height: 38px;
    width: 65px;
    color: #f1f1f1;
    border: 2px solid #3e5956e2;
    border-radius: 8px 0px 8px 0px;
    font-weight: bold;
    background: #1B6C8C;
    transition: 0.1s;
}

#BotaoCriar:hover {
    border: 2px solid #ffffff6a;
}

#InserirEmail:hover {
    border: 2px solid #cececeae;
}

#InserirEmail:focus {
    border: 2px solid #1B6C8C;
}

#BotaoCriar:active {
    background: #9b9b9b;
    color: #d5d1d1;
    border: 2px solid #f3f2f2e2;
}

#RodaPeCriar {
    font-size: 9px;
    width: 375px;
}

#RodaPeCriar > a {
    color: #1F80CB;
}

#RodaPeCriar > a:hover {
    color: #3b94d8;
}

#RodaPeCriar > a:active {
    color: #b8b8b8;
}

#Oquee {
    text-align: justify;
    margin-top: -20px;
    box-shadow: 0 -4px 10px rgba(18, 2, 54, 0.5);
    padding: 80px 6vw;
    background-color: whitesmoke;
    transition: 1s;
    z-index: 11;
}

#Oquee:hover {
    transform: translateY(4px);
}

#Oquee > h2 {
    max-width: 500px;
    margin: 20px auto;

}

#Oquee > p {
    max-width: 500px;
    margin: 15px auto;
    font-size: larger;
}

#Oquee strong {
    background-color: #259df879;
    padding: 0 2px;
}

#Diferenciais {
    padding: 30px 6vw;
    background-color: #0f3c5f;
    box-shadow: inset 0px 4px 10px rgba(18, 2, 54, 0.5)
}